
  <div id="Social" class="sidenav">
  
      <a href="https://www.linkedin.com/in/rileymanda/" id="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/RileyManda" id="github"><i class="fa fa-github"></i></a>
      <a href="https://www.facebook.com/riley.manda.3" id="facebook"><i class="fa fa-facebook"></i></a> 
      <a href="https://twitter.com/RileyManda2" id="twitter"><i class="fa fa-twitter"></i></a> 
      <a href="https://plus.google.com/u/0/105184450138721388107" id="google"><i class="fa fa-google"></i></a> 
      <a href="https://www.youtube.com/channel/UCsbWhgZqws573HOxjZUeLaA/videos?disable_polymer=1" id="youtube"><i class="fa fa-youtube"></i></a> 
      <a href="https://www.instagram.com/rileysdimension/" id="instagram"><i class="fa fa-instagram"></i></a>
   
    </div>