<div class="container">
<mat-card>
  <mat-card-header>
    <img src="assets/favi/favicon.ico">
    <mat-card-title>Admin LogIn</mat-card-title>
    <mat-card-subtitle>Reserved for admins only</mat-card-subtitle>
  </mat-card-header>
  <!--<img src="assets/favi/favicon.ico">-->
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="UserName" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" value="" type="password">
      </mat-form-field>
      </form>
      <button mat-button color="warn">LogIn</button>
    <button mat-button>DashBoard</button>
  </mat-card-content>
</mat-card>
</div>