<div class="container" id="login-form">
    <mat-card  class="cardwidth">
      <mat-card-header class="card-header">
       <img src="assets/favi/favicon-16x16.png">
        <br>
        <mat-card-title> Admin Login </mat-card-title>
        <mat-card-subtitle>Reserved for Admin</mat-card-subtitle>
      </mat-card-header>
  
  <mat-card-content>
  <form (submit)="loginuser($event)">
    <mat-form-field class="login-elements">
        <input matInput placeholder="Username">
      </mat-form-field>
  
  <div>
    <mat-form-field class="login-elements">
        <input matInput type="password" appearance="outline"  placeholder="Password" [type]="hide? 'password':'text'">
        <mat-hint color="warn" *ngIf="password">Entered an incorrect password</mat-hint>
        <mat-icon matSuffix (click)="hide=!hide">{{hide? 'visibility_off':'visibility'}}</mat-icon>
      </mat-form-field>
    
  </div>
  <br>
 
    <button mat-raised-button color="primary" value="Login" [routerLink]="['/dashboard']" class="login-elements">Login</button>
   
   <!-- <button mat-button color="primary" value="password" id="equalposition">Forgot Password</button><br><br>-->
    <!--<button mat-button color="primary" value="Register" id="l" >Register An Acount</button>-->
  
 
  
  </form>
  </mat-card-content>
  
  </mat-card>
  </div>