
  .text-elements{
    width: 100%;
    overflow: auto;
  }
  .cardwidth{
    width: 45%;
    overflow: auto;
  
  }

  .midcardwidth{
    width: 100%;
  
  }
  .txt-full-width {
    width: 100%;
  }

  .title-form {
    min-width: 150px;
  max-width: 500px;
  width: 100%;
  }

  .description-full-width {
    width: 100%;
  }
  .description-form {
    min-width: 150px;
  max-width: 500px;
  width: 100%;
  }

  .flex-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }