<mat-form-field class="full-width">
<textarea matInput type="text" placeholder="Chat with me"></textarea>
  <mat-hint color="warn" *ngIf="text">Your message is empty</mat-hint>
  <mat-icon matSuffix mat-button value="Send">send</mat-icon>
</mat-form-field>
<mat-divider></mat-divider>
<p>Follow Me on Social Media</p>
<div class="icon-bar">
  
    <a href="https://www.linkedin.com/in/rileymanda/" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/RileyManda" class="github"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/riley.manda.3" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="https://twitter.com/RileyManda2" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="https://plus.google.com/u/0/105184450138721388107" class="google"><i class="fa fa-google"></i></a> 
   
    <a href="https://www.youtube.com/channel/UCsbWhgZqws573HOxjZUeLaA/videos?disable_polymer=1" class="youtube"><i class="fa fa-youtube"></i></a> 
 
  </div>