<mat-nav-list>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>Facebook</span>
        </a>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>Facebook</span>
        </a>
      
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>Facebook</span>
        </a>
      
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>Facebook</span>
        </a>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>Email</span>
        </a>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <mat-icon>link</mat-icon>
          <span mat-line>WhatsApp</span>
        </a>
      </mat-nav-list>