<div class="dash-content">
 <!-------------------------------------About|hobbies|Cv--------------------------------------------------->
  <!--Grid-->
<mat-grid-list cols="1"> 
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
<!--About-->
<app-d-about></app-d-about>
<!--About End-->
<br>
<!--Hobbies-->
<app-d-hobbies></app-d-hobbies>
<!--Hobbies End-->
</div>
</mat-grid-list>
<!--Grid End-->
<!-------------------------------------About|hobbies|Cv End-------------------------------------------------->
<br>  
  <!--CV-->
  <app-d-cv></app-d-cv>
  <!--CVEnd-->
  <br>

<br>  
  <!--Xp-->
  <app-d-xp></app-d-xp>
  <!--Xp End-->
  <br>


<!----------------------Skills Matrix|Porfolio------------------------------------------>
<!--Skills Matrix-->
<app-d-skills></app-d-skills>
<!--Skils Matrix End-->
<br>
 
  <!--Portfolio-->
  <app-d-porfolio></app-d-porfolio>
<!--Portfolio End-->
<!------------------------------------Skills Marix|Portfolio End--------------------------------------->
<br>


