<mat-card>
 <!-------------------------------------About|hobbies|Cv--------------------------------------------------->
  <!--Grid-->
<mat-grid-list cols="1"> 
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
<!--About-->
<d-about></d-about>
<!--About End-->
<br>
<!--Hobbies-->
<d-hobbies></d-hobbies>
<!--Hobbies End-->
<br>
<!--Cv-->
<d-cv></d-cv>
<!--Cv End-->
</div>
</mat-grid-list>
<!--Grid End-->
<!-------------------------------------About|hobbies|Cv End-------------------------------------------------->
<br>  
  <!--Xp-->
  <d-xp></d-xp>
  <!--Xp End-->
  <br>

<!----------------------Skills Matrix and Porfolio------------------------------------------>
<!--Skills Matrix-->
<d-skills></d-skills>
<!--Skils Matrix End-->
<br>
 
  <!--Portfolio-->
  <d-porfolio></d-porfolio>
<!--Portfolio End-->
<!------------------------------------Skills Marix|Portfolio End--------------------------------------->
<br>

